@import '~normalize.css';
@import '~antd/dist/antd.css';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-size: inherit;
  background-color: #e3e8ee;
}

p {
  color: #444444;
}

h1,h2,h3,h4,h5,h6 {
  color: #141414;
}